html, body{
    background-color: #F3F0D7;
    color: #0A1D37;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;   
}

section {
    border-bottom: 1.5px solid #0A1D37;
}

a {
    color: #0A1D37;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*Header*/
header {
    background-color: #0A1D37;
    border-bottom: 2px solid black;
    height: 100px;
    padding-top: 10px;
    text-align: right;
    width: 100%;
    z-index: 10;
}

header h1 {
    color: #F3F0D7;
    font-family: 'Caveat', cursive;
    margin: 5px 50px 0px 0px;
    text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li { 
    display: inline-block;
    font-size: 0.8rem;
    list-style: none;
    margin: 0px 40px 0px 0px;
}

nav a {
    color: #F3F0D7;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #eacecf;
    text-decoration: none;
}

/*End of Header*/



/*Main Intro*/

#intro {
    background-image: url(../background-two.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 300px; 
    z-index: 0;
}

 #intro .flex-one {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
         
    }

#intro #add-paragraph {
    padding: 10px;
    margin: 10px;
    flex-basis: 30%;
    flex-shrink: 3;
    }


#intro p {
    padding-bottom: 5px;
    }


#intro img {
    border-radius: 50%;
    box-shadow:  3px 3px 10px;
    width: 200px;
    margin-top: 30px;
    margin-left: 10px;   
    }

#intro h2 {
    font-family: 'Caveat', cursive;
    font-size: 10rem;
    }

/* Grid */

#grid{
    border: 1 solid black;
    display: grid;
    width: 100%;
    grid-template: 250px / repeat(2, 50%);
    grid-gap: 1rem;
    align-items: stretch;
}

#my-projects{
    grid-column: 1 / span 1;
}

#contact-me {
    display: flex;
    flex-direction:column;
    height: 200px;
    align-items: center;
    grid-column: 2 / span 1;
   
}


.box {
    background-color: #eacecf;
    border-radius: 10px;
    border: none;
    font-size: 0.9rem;
    margin: 10px;
    padding: 10px;
    height: 200px;
}

.box h3 {
    font-size: 1.125rem;
}

.box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.box img{
    border-radius: 10px;
    margin: 20px;  
}

#flex-two{
    display: flex;
}


/* Footer */
footer {
    background-color: #0A1D37;
    color: #F3F0D7;
    font-size: 0.8rem;
    padding: 20px;
}

footer a {
    color: #F3F0D7;
}


/* For mobile*/

@media only screen and (max-width:850px){
    /*Header*/
    body {
        font-size: 16px;
    }

    header{
        height: 90px;
    }

     header h1 {
        font-size: 1.5rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    header ul{
        justify-content: space-between;
        margin-right: 20px;
        margin-top: 10px;
    }


    header a {
        font-size: 0.9rem;
    }

    /*Main - Intro*/

    #intro #add-paragraph {
        flex-basis: 50%;
    }

   #intro h2 {
        font-size: 5.5em;
    }

    #grid {
        display: block;
    }

    
}