html, body{
    background-color: #F3F0D7;
    color: #0A1D37;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;   
}

section {
    border-bottom: 1.5px solid #0A1D37;
}


/*Header*/
header {
    background-color: #0A1D37;
    border-bottom: 2px solid black;
    height: 120px;
    padding-top: 10px;
    text-align: right;
    width: 100%;
    z-index: 10;
}

header h1 {
    color: #F3F0D7;
    font-family: 'Caveat', cursive;
    margin-right: 50px;
    text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li { 
    display: inline-block;
    list-style: none;
    margin: 0px 40px 0px 0px;
}

nav a {
    color: #F3F0D7;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #eacecf;
}

/*End of Header*/



/*Main Intro*/

#intro {
    background-image: url(../background-two.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 300px; 
    z-index: 0;
}

 #intro .flex-one {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
         
    }

    #intro #add-paragraph {
        padding: 20px;
        margin: 10px;
        flex-basis: 40%;
        flex-shrink: 3;
    }



#intro p {
   padding-bottom: 5px;
}


#intro img {
    border-radius: 50%;
    box-shadow:  3px 3px 10px;
    width: 200px;
    margin-top: 30px;
    margin-left: 10px;   
}

#intro h2 {
    font-family: 'Caveat', cursive;
    font-size: 10rem;
    
   
}



/* For mobile*/

@media only screen and (max-width:850px){
    /*Header*/

    header{
        height: 90px;
    }

     header h1 {
        font-size: 1.5rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    header ul{
        justify-content: space-between;
        margin-right: 20px;
        margin-top: 10px;
    }


    header a {
        font-size: 0.9rem;
    }

    /*Main - Intro*/

    #intro {
        
    }
   #intro h2 {
        font-size: 7em;
    }

    
 
}