html, body{
    background-color: #F3F0D7;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;   
}


/*Header*/
header {
    background-color: #0A1D37;
    border-bottom: 1px solid black;
    height: 120px;
    padding-top: 10px;
    text-align: right;
    width: 100%;
    z-index: 10;
}

header h1 {
    color: #F3F0D7;
    font-family: 'Caveat', cursive;
    margin-right: 50px;
    text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li { 
    display: inline-block;
    list-style: none;
    margin: 0px 40px 0px 0px;
}

nav a {
    color: #F3F0D7;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #eacecf;
}

/*End of Header*/



/*Main Intro*/

#intro {
    background-image: url(../background-two.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
   
}

#intro flex {
    display: flex;
    flex-basis: 30%;
    justify-content: space-around;
    align-content: center;

}

#intro img {
    border-radius: 50%;
    box-shadow: black 2px 2px 5px;
    height: 200px;
    margin: 30px;
    z-index: 5;
}

#intro h2 {
    padding-bottom: 50px;
}


/* For mobile*/

@media only screen and (max-width: 740px){

    header{
        height: 90px;
    }

     header h1 {
        font-size: 1.75rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    header ul{
        justify-content: space-between;
        margin-right: 20px;
        margin-top: 10px;
    }


    header a {
        font-size: 0.9rem;
    }

    #intro h2 {
        font-size: 1em;
    }
}