html, body{
    background-color: #F3F0D7;
    color: #0A1D37;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;   
}

section {
    border-bottom: 1.5px solid #0A1D37;
}


/*Header*/
header {
    background-color: #0A1D37;
    border-bottom: 2px solid black;
    height: 120px;
    padding-top: 10px;
    text-align: right;
    width: 100%;
    z-index: 10;
}

header h1 {
    color: #F3F0D7;
    font-family: 'Caveat', cursive;
    margin-right: 50px;
    text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li { 
    display: inline-block;
    list-style: none;
    margin: 0px 40px 0px 0px;
}

nav a {
    color: #F3F0D7;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #eacecf;
}

/*End of Header*/



/*Main Intro*/

#intro {
    background-image: url(../background-two.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px; 
    z-index: 0;
}


#intro img {
    border-radius: 50%;
    box-shadow:  3px 3px 10px;
    height: 200px;
    margin: 30px;
    z-index: 5;
}

#intro h2 {
    font-size: 1.25rem;
    margin: 10px;
}

/*Main Certificates*/

#certificates h3, #certificates p  {
    margin-left: 20px;
    text-align: left;
}

#certificates .flex-two{
    background-color: black;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

#gallery{
    border: 1px solid white;
    margin-top: 18px;
    max-height: 400px;
    min-width: 100px;
    max-width: 200px;
    flex-grow: 1;
    flex-shrink: 3;
}

#main-image {
    flex-grow: 3;
    flex-shrink: 1;
}

#certificates .flex-three{
    display: flex;
    flex-direction: column;
}

#certificates .certificate {
    min-width: 150px;
    max-width: 200px;
}

.certificate {
    margin: 5px 20px;
}

#certificates .main-image, #certificates figure  {
    max-width: 650px;
    flex-grow: 3;
}

#certificates figcaption  {
    margin: 0px;
    padding: 0px;
    width: 400px;
}

#certificates img, .main-image {
    border: 1px solid #0A1D37;
}






/* For mobile*/

@media only screen and (max-width: 740px){
    /*Header*/

    header{
        height: 90px;
    }

     header h1 {
        font-size: 1.75rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    header ul{
        justify-content: space-between;
        margin-right: 20px;
        margin-top: 10px;
    }


    header a {
        font-size: 0.9rem;
    }

    /*Main - Intro*/

    #intro {
        height: 300px;
    }

    #intro .flex-one {
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    #intro h2 {
        font-size: 1em;
    }

    #certificates .flex-three{
        flex-direction: row;
        justify-content: center;
    }

    .certificate {
        flex-shrink: 2;
        margin: 5px;
    }






}