html, body{
    background-color: #F3F0D7;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

/*Header*/
header {
    background-color: #0A1D37;
    padding: 0em 1em;
    position: fixed;
    text-align: right;
    width: 100%;
    z-index: 5;
}

header h1 {
    color: #F3F0D7;
    font-family: 'Caveat', cursive;
    margin-right: 50px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li { 
    display: inline-block;
    list-style: none;
    margin: 0px 40px 0px 0px;
}

nav a {
    color: #F3F0D7;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #eacecf;
}

/*End of Header*/
